@import "../../app.colors";
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  .drawer-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .sidenav-content {
    height: max-content;
    padding: 2%;
  }

  .sidenav {
    padding: 20px;
    width: 20vw;
    max-width: 300px;
    min-width: 200px;
  }
}
mat-toolbar{
  background-color: $PrimaryColor;
  color: $PrimaryTextColor;

  button{
    margin-right: 2%;
  }

}

span.toolbar-spacer{
  flex: 1 1 auto;
}

